<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>天下客栈</title>
    <meta name="description" content="提供网易天下3周边的游戏周边服务"/>
    <meta name="keywords" content="天下客栈,藏宝阁定制搜索,改名查询,转服查询,天下3,藏宝阁高级查询,幻化查询"/>

    <link rel="stylesheet" href="static/css/common-f4a0a.css"/>
    <link rel="stylesheet" href="static/css/insight-f64fb.css"/>
    <link rel="stylesheet" href="static/css/index.css">


    <link href="static/css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="static/css/font-awesome.min93e3.css" rel="stylesheet">
    <link href="static/css/style.min862f.css" rel="stylesheet">
    <link href="static/js/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="static/js/plugins/layui/css/layui.css" rel="stylesheet">
    <link href="static/js/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <style>
        label {
            font-size: 18px;
            color: #333;
            font-weight: bold;
        }

        table thead th {
            text-align: center;
        }

        table tbody tr td {
            text-align: center;
        }

        .btn {
            height: auto;
        }

        .wrapper-content {
            padding: 0 !important;
            padding-top: 20px;
        }
    </style>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "pub-7375805109313400",
            enable_page_level_ads: true
        });
    </script>
</head>

<body class="gray-bg" style="height: auto">

<section>
    <div class="insight-head fn-clear">
        <div class="insight-head__box fn-clear">
            <img src="./static/images/stack-white.png" class="insight-head__logo fn-left">
            <ul class="fn-left">
                <li class="insight-head__navitem"><a href="/">找号</a></li>
                <li class="insight-head__navitem" style="margin-left: 200px"><a target="_blank"  href="/support.html">赞助</a></li>
            </ul>
        </div>
    </div>
</section>


<section class="container">
    <div class="wrapper wrapper-content">
        <!-- begin查询条件 -->
        <form id="search-form">
            <input type="hidden" value="1" name="pageNo" id="js-bootpag-num">
            <div class="row top">
                <div class="col-md-1 col-xs-12 title top-title">
                    <label>门 派</label>
                </div>
                <div class="col-md-11 col-xs-12 top-labels">
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="school">
                        <i></i>
                        荒火
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="2" name="school">
                        <i></i>
                        天机
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="3" name="school">
                        <i></i>
                        翎羽
                    </label>

                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="4" name="school">
                        <i></i>
                        魍魉
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="5" name="school">
                        <i></i>
                        太虚
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="6" name="school">
                        <i></i>
                        云麓
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="7" name="school">
                        <i></i>
                        冰心
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="8" name="school">
                        <i></i>
                        弈剑
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="9" name="school">
                        <i></i>
                        鬼墨
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="10" name="school">
                        <i></i>
                        龙巫
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="11" name="school">
                        <i></i>
                        幽篁
                    </label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>基础属性</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label>修为≥<input type="number" name="xiuwei"></label>
                    <label>装评≥<input type="number" name="equXiuwei"></label>
                    <label>生命值≥<input type="number" name="mhp"></label>
                    <label>技力值≥<input type="number" name="msp"></label>
                    <br>
                    <label>敏≥<input type="number" name="quick"></label>
                    <label>力≥<input type="number" name="strong"></label>
                    <label>魂≥<input type="number" name="soul"></label>
                    <label>念≥<input type="number" name="mind"></label>
                    <label>疾≥<input type="number" name="dodge"></label>
                    <label>体≥<input type="number" name="body"></label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>防御属性</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label>物防≥<input type="number" name="pdef"></label>
                    <label>法防≥<input type="number" name="mdef"></label>
                    <label>神明≥<input type="number" name="inprotect"></label>
                    <label>回避≥<input type="number" name="avoid"></label>
                    <label>化解≥<input type="number" name="attdef"></label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>高级属性</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label>追电≥<input type="number" name="movespeed"></label>
                    <label>疾语≥<input type="number" name="castspeed"></label>
                    <label>骤雨≥<input type="number" name="attackspeed"></label>
                    <label>人祸≥<input type="number" name="attackhuman"></label>
                    <label>知彼≥<input type="number" name="defhuman"></label>
                    <br>
                    <label>诛心≥<input type="number" name="criAddP"></label>
                    <label>御心≥<input type="number" name="criSubP"></label>
                    <label>万均≥<input type="number" name="thumpAddP"></label>
                    <label>铁壁≥<input type="number" name="thumpSubP"></label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>攻击属性</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label>命中≥<input type="number" name="hit"></label>
                    <label>重击≥<input type="number" name="modadd"></label>
                    <label>会心≥<input type="number" name="critical"></label>
                    <label>附伤≥<input type="number" name="attadd"></label>
                    <label>大攻-小攻<=<input type="number" name="xiaogong"></label>
                    <label>大法-小法<=<input type="number" name="xiaofa"></label>
                    <br>
                    <label>最大物攻≥<input type="number" name="pattackMax"></label>
                    <label>最小物攻≥<input type="number" name="pattackMin"></label>
                    <label>最大法攻≥<input type="number" name="mattackMax"></label>
                    <label>最小法攻≥<input type="number" name="mattackMin"></label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>加护属性</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label>总加护值≥<input type="number" name="jiahu"></label>
                    <label>总炼护值≥<input type="number" name="lianhu"></label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>孩子属性</label>
                </div>
                <div class="col-md-11 col-xs-12 cell cell-labels">
                    <label>孩子等级≥<input type="number" name="haiziLv"></label>
                    <label>孩子资质≥<input type="number" name="haiziZizhi"></label>
                    <label>孩子武学≥<input type="number" name="haiziWuxue"></label>
                    <label>孩子加护≥<input type="number" name="haiziJiahu"></label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>觉醒属性</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label>觉醒等级≥<input type="number" name="awakeLv"></label>
                    <label>封禁之力≥<input type="number" name="releaseLv"></label>
                    <label>觉醒度≥<input type="number" name="awakeValue"></label>
                    <label>溟禅值≥<input type="number" name="minglian"></label>
                </div>
            </div>

            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>声望</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label>天域声望≥<input type="number" name="tianyu"></label>
                    <label>王朝军姿≥<input type="number" name="junzi"></label>
                    <label>大禹声望≥<input type="number" name="dayu"></label>
                    <label>元宝≥<input type="number" name="yuanbao"></label>
                    <label>金币≥<input type="number" name="jinbi"></label>
                </div>
            </div>

            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>元魂珠</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="xiyangyang">
                        <i></i>
                        喜气洋洋
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="wanshengtianzun">
                        <i></i>
                        万胜天尊
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="mawangye">
                        <i></i>
                        马王爷
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="yehuo">
                        <i></i>
                        业火
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="dulanggui">
                        <i></i>
                        毒浪鬼
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="maorixingguan">
                        <i></i>
                        昴日星官
                    </label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>特效</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="wanfeng">
                        <i></i>
                        完封
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="huxin">
                        <i></i>
                        护心
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="duncifanghu">
                        <i></i>
                        盾刺防护
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="huikanfanghu">
                        <i></i>
                        挥砍防护
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="huoyuanfanghu">
                        <i></i>
                        火元防护
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="shuifengdufanghu">
                        <i></i>
                        水风毒
                    </label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>时装</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="xuansu">
                        <i></i>
                        玄素天成
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="qinghua">
                        <i></i>
                        黛染青花
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="guhong">
                        <i></i>
                        孤鸿月影
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="haitang">
                        <i></i>
                        海棠未雨
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="tinglan">
                        <i></i>
                        岸芷汀兰
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="xiangyun">
                        <i></i>
                        绛云思暖
                    </label>

                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="feihuhuaqiu">
                        <i></i>
                        飞狐华裘
                    </label>

                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="tianhulishang">
                        <i></i>
                        天狐霓裳
                    </label>

                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="xianhucaijue">
                        <i></i>
                        仙狐彩袂
                    </label>


                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="canghaisangtian">
                        <i></i>
                        沧海桑田
                    </label>

                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="yeyujiangnan">
                        <i></i>
                        夜雨江南
                    </label>


                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="changong">
                        <i></i>
                        蟾宫折桂
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="bihai">
                        <i></i>
                        碧海惊涛
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="changkong">
                        <i></i>
                        鹰击长空
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="changkong">
                        <i></i>
                        鹰击长空
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="fengyuzihuang">
                        <i></i>
                        凤羽紫凰
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="shuyinghengxie">
                        <i></i>
                        疏影横斜
                    </label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>其他</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="taichu">
                        <i></i>
                        太初
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="renwuTianyu">
                        <i></i>
                        人物天域
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="haiziTianyu">
                        <i></i>
                        孩子天域
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="haiziTaichu">
                        <i></i>
                        孩子太初
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="shilifushou">
                        <i></i>
                        势力副手
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="ligntMenpai">
                        <i></i>
                        门派轻功
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="vip9">
                        <i></i>
                        VIP9
                    </label>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>等级</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label class="cell-labels-radio">
                        <input type="radio" value="1" name="lv_level">
                        <i></i>
                        69级
                    </label>
                    <label class="cell-labels-radio">
                        <input type="radio" value="2" name="lv_level">
                        <i></i>
                        74级
                    </label>
                    <label class="cell-labels-radio">
                        <input type="radio" value="3" name="lv_level">
                        <i></i>
                        79级
                    </label>
                    <label class="cell-labels-radio">
                        <input type="radio" value="4" name="lv_level">
                        <i></i>
                        地魂
                    </label>
                    <label class="cell-labels-radio">
                        <input type="radio" value="5" name="lv_level">
                        <i></i>
                        天魂
                    </label>
                    <span class="cell-labels-right">
            <label>自由选择
                <input type="number" name="lvmin" value="69"> - <input type="number" name="lvmax">
            </label>
          </span>
                </div>
            </div>
            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>副本首饰</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="qianyang">
                        <i></i>
                        乾阳
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="yinglongya">
                        <i></i>
                        墨罂粟
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="mudanyuan">
                        <i></i>
                        牡丹怨
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="yinglongya">
                        <i></i>
                        影龙牙
                    </label>
                    <label class="cell-labels-checkbox">
                        <input type="checkbox" value="1" name="xuelongya">
                        <i></i>
                        血龙牙
                    </label>

                </div>
            </div>

            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>PVE</label>
                </div>
                <div class="col-md-11 col-xs-12 cell-labels">
                    <label>启慧等级≥<input type="number" name="qihui"></label>
                    <label>天灵点≥<input type="number" name="tianling"></label>
                </div>
            </div>

            <div class="row cell">
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>价格</label>
                </div>
                <div class="col-md-5 col-xs-12 cell-labels">
                    <label>
                        <input type="number" name="pricemin"> - <input type="number" name="pricemax">
                    </label>
                </div>
                <div class="col-md-1 col-xs-12 title cell-title">
                    <label>排序</label>
                </div>
                <div class="col-md-5 col-xs-12 cell-labels">
                    <label class="cell-labels-radio">
                        <input type="radio" value="1" checked name="price_des">
                        <i></i>时间排序
                    </label>
                    <label class="cell-labels-radio">
                        <input type="radio" value="2" name="price_des">
                        <i></i>价格排序
                    </label>
                </div>
            </div>
        </form>
        <div style="text-align: right">最后更新时间:<span style="color: red" id="last-date"></span></div>
        <div class="row row-search" style="text-align: center">
            <a href="javascript:;"  type="button" id="js-query-btn" class="btn btn-search">搜索</a>
            <a href="javascript:;"  type="button" id="js-reset-btn" class="btn btn-go">重置</a>
        </div>

        <!-- end查询条件 -->
        <div class="row" style="height: 10px"></div>
        <!-- begin数据表格 -->
        <div class="row row-table" id="js-page-body">
            <table class="table table-hover table-bordered margin-bottom-5">

            </table>
        </div>
        <div class="row">
            <div class="col-md-7 pull-left hidden-xs">
                <p style="margin-bottom: 0px;line-height: 55px;">总共<span id="span-total"></span>个记录&nbsp;每页
                    <span id="span-page-size"></span>当前<span id="span-cur-page"></span>/<span id="span-total-page"></span></p>
            </div>
            <div class="col-md-5 pull-right" id="js-bootpag" style="text-align: right;">

            </div>
        </div>
        <!-- end数据表格 -->
    </div>
</section>

<section>
    <div class="box8">
        <div class="w1190">
            <ul></ul>
            <ul>
                <li class="name"><small>&copy; 2018 天下客栈.All Rights Reserved. </small></li>
                <li class="name"><small><a href='http://www.miibeian.gov.cn' target='_blank' style="color: #fff">京ICP备15057167号-2</a></small></li>
            </ul>
            <ul>
                <li class="name"><small>QQ群:524580307</a></small></li>
            </ul>
            <ul>
                <li>
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_1261504736'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261504736%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>
                </li>
            </ul>

        </div>
    </div>
</section>

<!-- 全局js -->
<script src="static/js/jquery.min.js?v=2.1.4"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.form.js"></script>
<!-- 自定义js -->
<script src="static/js/content.min.js"></script>


<script src="static/js/plugins/chosen/chosen.jquery.js"></script>
<script src="static/js/plugins/jquery-bootpag/jquery.bootpag.min.js"></script>
<script src="static/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="static/js/cbg.js?v=111" type="text/javascript"></script>
<script type="text/javascript">
    CbgJS.init();

    //CbgJS.initPage('$!pageBean.pages', '$!pageBean.pageNum');
    function hotKeys() {
        var ua = navigator.userAgent.toLowerCase();
        var str = '';
        var isWebkit = (ua.indexOf('webkit') != -1);
        var isMac = (ua.indexOf('mac') != -1);

        if (ua.indexOf('konqueror') != -1) {
            str = 'CTRL + B'; // Konqueror
        } else if (window.home || isWebkit || isMac) {
            str = (isMac ? 'Command/Cmd' : 'CTRL') + ' + D'; // Netscape, Safari, iCab, IE5/Mac
        }
        return ((str) ? '按 ' + str + '添加收藏.' : str);
    }

    function addToFavorites(a, title, url) {
        title = title || document.title;
        url = url || location.href;
        if (window.sidebar) // Firefox
            window.sidebar.addPanel(title, url, '');
        else if (window.opera && window.print) // Opera
        {
            var elem = document.createElement('a');
            elem.setAttribute('href', url);
            elem.setAttribute('title', title);
            elem.setAttribute('rel', 'sidebar'); // required to work in opera 7+
            elem.click();
        }
        else if (document.all) // IE
            window.external.AddFavorite(url, title);
        else {
            alert(hotKeys());
        }
    }
</script>

</body>

</html>
