<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funny.txstack.dao.leads.LeadsQualityMapper">
    <!--  普通本日未分发线索数量  -->
    <select id="getTodayNormalLeadsCount" resultType="Integer">
        select count(1) from leads_base where created>DATE_SUB(date_format(NOW(),'%Y-%m-%d'),INTERVAL 0 DAY) and allot_status=0 and phone_status=1;
    </select>
    <!--  普通本周内未分发线索数量  -->
    <select id="getWeekNormalLeadsCount" resultType="Integer">
        select count(1) from leads_base where created>=DATE_SUB(date_format(NOW(),'%Y-%m-%d'),INTERVAL 7 DAY)
    and allot_status=0 and phone_status=1;
    </select>
    <!--  优质本日未分发线索数量  -->
    <select id="getTodayGoodLeadsCount" resultType="Integer">
        select count(1) from leads_quality where created>DATE_SUB(date_format(NOW(),'%Y-%m-%d'),INTERVAL 0 DAY) and allot_status=0 ;
    </select>
    <!--  优质本周内未分发线索数量  -->
    <select id="getWeekGoodLeadsCount" resultType="Integer">
        select count(1) from leads_quality where created>=DATE_SUB(date_format(NOW(),'%Y-%m-%d'),INTERVAL 7 DAY)
    and allot_status=0;
    </select>

</mapper>