#set($layout="layout/none.vm")
<style>
    table{
        table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
        margin-top: 15px;
    }
    td{
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    }
</style>
<table class="table table-hover table-bordered margin-bottom-5">
    <thead>
    <tr>
        <th style="text-align: center;width: 10%;">角色</th>
        <th style="text-align: center;width: 10%;">门派</th>
        <th style="text-align: center;width: 10%;">等级</th>
        <th style="text-align: center;width: 10%;">价格</th>
        <th style="text-align: center;width: 15%;">装备评价</th>
        <th style="text-align: center;width: 10%;">修为</th>
        <th style="text-align: center;width: 10%;">加护</th>
        <th style="text-align: center;width: 10%;">炼护</th>
        <th style="text-align: center;width: 10%;">追电</th>
        <th style="text-align: center;width: 10%;">疾语</th>
        <th style="text-align: center;width: 10%;">物攻</th>
        <th style="text-align: center;width: 10%;">法攻</th>
        <th style="text-align: center;width: 10%;">会心</th>
        <th style="text-align: center;width: 10%;">重击</th>
        <th style="text-align: center;width: 10%;">人祸</th>
        <th style="text-align: center;width: 10%;">回避</th>
        <th style="text-align: center;width: 10%;">神明</th>
        <th style="text-align: center;width: 10%;">时装</th>
        <th style="text-align: center;width: 10%;">太初</th>
        <th style="text-align: center;width: 10%;">特技</th>
        <th style="text-align: center;width: 15%;">截止日期</th>
        <th style="text-align: center;width: 10%;">购买</th>
    </tr>
    </thead>
    <tbody>
        #if($!pageBean && $!pageBean.currentSize > 0)
            #foreach($item in $!itemList)
            <tr>
                <td style="text-align: center;">$!item.itemId</td>
                <td style="text-align: center;">$!item.itemName</td>
                <td style="text-align: center;">$!item.brandId</td>
                <td style="text-align: center;">$!item.brandName</td>
                <td style="text-align: center;">$!item.typeText</td>
            </tr>
            #end
        #else
        <tr>
            <td colspan="22" style="text-align: center">搜索无结果</td>
        </tr>
        #end
    </tbody>
</table>
#if($!pageBean && $!pageBean.totalSize > 0)
<div class="row">
    <div class="col-md-6 pull-left">
        <p style="margin-bottom: 0px;line-height: 55px;">总共$!pageBean.totalSize个记录&nbsp;每页$!pageBean.currentSize
            &nbsp;当前$!pageBean.pageNum/$!pageBean.totalPage</p>
    </div>
    <div class="col-md-6 pull-right" id="js-bootpag" style="text-align: right;"></div>

    <script type="text/javascript">
        RoleJS.initPage('$!pageBean.totalPage', '$!pageBean.pageNum');
    </script>
</div>
#end