#set($layout="layout/none.vm")
<style>
    table{
        table-layout:fixed;/* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
        margin-top: 15px;
    }
    td{
        word-break:keep-all;/* 不换行 */
        white-space:nowrap;/* 不换行 */
        overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
        height: auto;
        vertical-align: middle;
    }
</style>
<table class="table table-hover table-bordered margin-bottom-5">
    <thead>
    <tr>
        <th style="text-align: center;width: 10%;">角色</th>
        <th style="text-align: center;width: 10%;">等级</th>
        <th style="text-align: center;width: 15%;">价格</th>
        <th style="text-align: center;width: 15%;">装备评价</th>
        <th style="text-align: center;width: 10%;">修为</th>
        <th style="text-align: center;width: 10%;">加护</th>
        <th style="text-align: center;width: 10%;">炼护</th>
        <th style="text-align: center;width: 10%;">追电</th>
        <th style="text-align: center;width: 10%;">疾语</th>
        <th style="text-align: center;width: 10%;">物攻</th>
        <th style="text-align: center;width: 10%;">法攻</th>
        <th style="text-align: center;width: 10%;">会心</th>
        <th style="text-align: center;width: 10%;">重击</th>
        <th style="text-align: center;width: 10%;">回避</th>
        <th style="text-align: center;width: 10%;">神明</th>
        <th style="text-align: center;width: 10%;">时装</th>
        <th style="text-align: center;width: 10%;">特技</th>
        <th style="text-align: center;width: 10%;">元魂珠</th>
        <th style="text-align: center;width: 10%;">其他</th>
        <th style="text-align: center;width: 15%;">截止日期</th>
        <th style="text-align: center;width: 10%;">购买</th>
    </tr>
    </thead>
    <tbody>
        #if($!pageBean && $!pageBean.total > 0)
            #foreach($role in $!roleList)
            <tr>
                <td style="text-align: center;"><img src="/assets/img/$!role.sch$!{role.sex}.jpg"></td>
                <td style="text-align: center;">$!role.lv</td>
                <td style="text-align: center;">¥ $!role.price</td>
                <td style="text-align: center;">$!role.equXiuwei</td>
                <td style="text-align: center;">$!role.xiuwei</td>
                <td style="text-align: center;">$!role.jiahu</td>
                <td style="text-align: center;">$!role.lianhu</td>
                <td style="text-align: center;">$!role.movespeed</td>
                <td style="text-align: center;">$!role.castspeed</td>
                <td style="text-align: center;">$!role.pattackMin/$!role.pattackMax</td>
                <td style="text-align: center;">$!role.mattackMin/$!role.mattackMax</td>
                <td style="text-align: center;">$!role.critical</td>
                <td style="text-align: center;">$!role.modadd</td>
                <td style="text-align: center;">$!role.avoid</td>
                <td style="text-align: center;">$!role.inprotect</td>
                <td style="text-align: center;" title="$!role.shizhuang">$!role.shizhuang</td>
                <td style="text-align: center;">$!role.teji</td>
                <td style="text-align: center;">$!role.yuanhun</td>
                <td style="text-align: center;">$!role.other</td>
                <td style="text-align: center;">$!role.exp_time</td>
                <td style="text-align: center;"><a class="btn btn-danger" href="$!role.url">购买</a></td>
            </tr>
            #end
        #else
        <tr>
            <td colspan="22" style="text-align: center">搜索无结果</td>
        </tr>
        #end
    </tbody>
</table>
#if($!pageBean && $!pageBean.total > 0)
<div class="row">
    <div class="col-md-6 pull-left">
        <p style="margin-bottom: 0px;line-height: 55px;">总共$!pageBean.total个记录&nbsp;每页$!pageBean.pageSize
            &nbsp;当前$!pageBean.pageNum/$!pageBean.pages</p>
    </div>
    <div class="col-md-6 pull-right" id="js-bootpag" style="text-align: right;"></div>

    <script type="text/javascript">
        RoleJS.initPage('$!pageBean.pages', '$!pageBean.pageNum');
    </script>
</div>
#end