<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.txstack.dao.stat.CbgDataMapper" >
  <resultMap id="BaseResultMap" type="com.funny.txstack.model.entity.CbgDataEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="lianhu" property="lianhu" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="lv" property="lv" jdbcType="INTEGER" />
    <result column="fly_soul_phase" property="flySoulPhase" jdbcType="INTEGER" />
    <result column="fly_soul_lv" property="flySoulLv" jdbcType="VARCHAR" />
    <result column="xiuwei" property="xiuwei" jdbcType="INTEGER" />
    <result column="equ_xiuwei" property="equXiuwei" jdbcType="INTEGER" />
    <result column="sch" property="sch" jdbcType="INTEGER" />
    <result column="mhp" property="mhp" jdbcType="INTEGER" />
    <result column="msp" property="msp" jdbcType="INTEGER" />
    <result column="pattack_max" property="pattackMax" jdbcType="INTEGER" />
    <result column="mattack_max" property="mattackMax" jdbcType="INTEGER" />
    <result column="pattack_min" property="pattackMin" jdbcType="INTEGER" />
    <result column="mattack_min" property="mattackMin" jdbcType="INTEGER" />
    <result column="hit" property="hit" jdbcType="INTEGER" />
    <result column="modadd" property="modadd" jdbcType="INTEGER" />
    <result column="critical" property="critical" jdbcType="INTEGER" />
    <result column="attadd" property="attadd" jdbcType="INTEGER" />
    <result column="cri_add_p" property="criAddP" jdbcType="INTEGER" />
    <result column="cri_sub_p" property="criSubP" jdbcType="INTEGER" />
    <result column="mdef" property="mdef" jdbcType="INTEGER" />
    <result column="pdef" property="pdef" jdbcType="INTEGER" />
    <result column="absolutely_attack" property="absolutelyAttack" jdbcType="INTEGER" />
    <result column="absolutely_defence" property="absolutelyDefence" jdbcType="INTEGER" />
    <result column="inprotect" property="inprotect" jdbcType="INTEGER" />
    <result column="avoid" property="avoid" jdbcType="INTEGER" />
    <result column="attdef" property="attdef" jdbcType="INTEGER" />
    <result column="defhuman" property="defhuman" jdbcType="INTEGER" />
    <result column="attackhuman" property="attackhuman" jdbcType="INTEGER" />
    <result column="sract" property="sract" jdbcType="INTEGER" />
    <result column="srbody" property="srbody" jdbcType="INTEGER" />
    <result column="srmind" property="srmind" jdbcType="INTEGER" />
    <result column="movespeed" property="movespeed" jdbcType="INTEGER" />
    <result column="castspeed" property="castspeed" jdbcType="INTEGER" />
    <result column="attackspeed" property="attackspeed" jdbcType="INTEGER" />
    <result column="thump_add_p" property="thumpAddP" jdbcType="INTEGER" />
    <result column="thump_sub_p" property="thumpSubP" jdbcType="INTEGER" />
    <result column="strong" property="strong" jdbcType="INTEGER" />
    <result column="body" property="body" jdbcType="INTEGER" />
    <result column="quick" property="quick" jdbcType="INTEGER" />
    <result column="dodge" property="dodge" jdbcType="INTEGER" />
    <result column="soul" property="soul" jdbcType="INTEGER" />
    <result column="mind" property="mind" jdbcType="INTEGER" />
    <result column="haizi_lv" property="haiziLv" jdbcType="INTEGER" />
    <result column="haizi_zizhi" property="haiziZizhi" jdbcType="INTEGER" />
    <result column="haizi_wuxue" property="haiziWuxue" jdbcType="INTEGER" />
    <result column="light_menpai" property="lightMenpai" jdbcType="INTEGER" />
    <result column="awake_lv" property="awakeLv" jdbcType="INTEGER" />
    <result column="release_lv" property="releaseLv" jdbcType="INTEGER" />
    <result column="awake_value" property="awakeValue" jdbcType="INTEGER" />
    <result column="minglian" property="minglian" jdbcType="INTEGER" />
    <result column="qinghua" property="qinghua" jdbcType="INTEGER" />
    <result column="xuansu" property="xuansu" jdbcType="INTEGER" />
    <result column="guhong" property="guhong" jdbcType="INTEGER" />
    <result column="xiangyun" property="xiangyun" jdbcType="INTEGER" />
    <result column="tinglan" property="tinglan" jdbcType="INTEGER" />
    <result column="haitang" property="haitang" jdbcType="INTEGER" />
    <result column="feihuhuaqiu" property="feihuhuaqiu" jdbcType="INTEGER" />
    <result column="tianhulishang" property="tianhulishang" jdbcType="INTEGER" />
    <result column="xianhucaijue" property="xianhucaijue" jdbcType="INTEGER" />
    <result column="canghaisangtian" property="canghaisangtian" jdbcType="INTEGER" />
    <result column="yeyujiangnan" property="yeyujiangnan" jdbcType="INTEGER" />
    <result column="huikanfanghu" property="huikanfanghu" jdbcType="INTEGER" />
    <result column="duncifanghu" property="duncifanghu" jdbcType="INTEGER" />
    <result column="huoyuanfanghu" property="huoyuanfanghu" jdbcType="INTEGER" />
    <result column="shuifengdufanghu" property="shuifengdufanghu" jdbcType="INTEGER" />
    <result column="wanfeng" property="wanfeng" jdbcType="INTEGER" />
    <result column="huxin" property="huxin" jdbcType="INTEGER" />
    <result column="taichu" property="taichu" jdbcType="INTEGER" />
    <result column="shilifushou" property="shilifushou" jdbcType="INTEGER" />
    <result column="xiyangyang" property="xiyangyang" jdbcType="INTEGER" />
    <result column="mawangye" property="mawangye" jdbcType="INTEGER" />
    <result column="wanshengtianzun" property="wanshengtianzun" jdbcType="INTEGER" />
    <result column="yehuo" property="yehuo" jdbcType="INTEGER" />
    <result column="dulanggui" property="dulanggui" jdbcType="INTEGER" />
    <result column="vip9" property="vip9" jdbcType="INTEGER" />
    <result column="haizi_tiayu" property="haiziTiayu" jdbcType="INTEGER" />
    <result column="bihai" property="bihai" jdbcType="INTEGER" />
    <result column="changong" property="changong" jdbcType="INTEGER" />
    <result column="changkong" property="changkong" jdbcType="INTEGER" />
    <result column="fengyuzihuang" property="fengyuzihuang" jdbcType="INTEGER" />

    <result column="shuyinghengxie" property="shuyinghengxie" jdbcType="INTEGER" />
    <result column="tianyu" property="tianyu" jdbcType="INTEGER" />
    <result column="jinbi" property="jinbi" jdbcType="INTEGER" />
    <result column="junzi" property="junzi" jdbcType="INTEGER" />
    <result column="dayu" property="fengyuzihuang" jdbcType="INTEGER" />
    <result column="yuanbao" property="yuanbao" jdbcType="INTEGER" />
    <result column="haizi_jiahu" property="haiziJiahu" jdbcType="INTEGER" />
    <result column="renwu_tianyu" property="renwuTianyu" jdbcType="INTEGER" />
    <result column="mourixingguan" property="maorixingguan" jdbcType="INTEGER" />
    <result column="zhanying" property="zhanying" jdbcType="INTEGER" />
    <result column="leizuan" property="leizuan" jdbcType="INTEGER" />
    <result column="honglian" property="honglian" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, lianhu, sex, lv, fly_soul_phase, fly_soul_lv, xiuwei, equ_xiuwei, sch, 
    mhp, msp, pattack_max, mattack_max, pattack_min, mattack_min, hit, modadd, critical, 
    attadd, cri_add_p, cri_sub_p, mdef, pdef, absolutely_attack, absolutely_defence, 
    inprotect, avoid, attdef, defhuman, attackhuman, sract, srbody, srmind, movespeed, 
    castspeed, attackspeed, thump_add_p, thump_sub_p, strong, body, quick, dodge, soul, 
    mind, haizi_lv, haizi_zizhi, haizi_wuxue, lignt_menpai, awake_lv, release_lv, awake_value, 
    minglian, qinghua, xuansu, guhong, xiangyun, tinglan, haitang, feihuhuaqiu, tianhulishang, 
    xianhucaijue, canghaisangtian, yeyujiangnan, huikanfanghu, duncifanghu, huoyuanfanghu, 
    shuifengdufanghu, wanfeng, huxin, taichu, shilifushou, xiyangyang, mawangye, wanshengtianzun, 
    yehuo, dulanggui, vip9, haizi_tiayu, bihai, changong, changkong,fengyuzihuang,leizuan,honglian
  </sql>

  <update id="updateByIdSelected" parameterType="com.funny.txstack.model.entity.CbgDataEntity" >
    update cbg_data
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="lianhu != null" >
        lianhu = #{lianhu,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="lv != null" >
        lv = #{lv,jdbcType=INTEGER},
      </if>
      <if test="flySoulPhase != null" >
        fly_soul_phase = #{flySoulPhase,jdbcType=INTEGER},
      </if>
      <if test="flySoulLv != null" >
        fly_soul_lv = #{flySoulLv,jdbcType=VARCHAR},
      </if>
      <if test="xiuwei != null" >
        xiuwei = #{xiuwei,jdbcType=INTEGER},
      </if>
      <if test="equXiuwei != null" >
        equ_xiuwei = #{equXiuwei,jdbcType=INTEGER},
      </if>
      <if test="sch != null" >
        sch = #{sch,jdbcType=INTEGER},
      </if>
      <if test="mhp != null" >
        mhp = #{mhp,jdbcType=INTEGER},
      </if>
      <if test="msp != null" >
        msp = #{msp,jdbcType=INTEGER},
      </if>
      <if test="pattackMax != null" >
        pattack_max = #{pattackMax,jdbcType=INTEGER},
      </if>
      <if test="mattackMax != null" >
        mattack_max = #{mattackMax,jdbcType=INTEGER},
      </if>
      <if test="pattackMin != null" >
        pattack_min = #{pattackMin,jdbcType=INTEGER},
      </if>
      <if test="mattackMin != null" >
        mattack_min = #{mattackMin,jdbcType=INTEGER},
      </if>
      <if test="hit != null" >
        hit = #{hit,jdbcType=INTEGER},
      </if>
      <if test="modadd != null" >
        modadd = #{modadd,jdbcType=INTEGER},
      </if>
      <if test="critical != null" >
        critical = #{critical,jdbcType=INTEGER},
      </if>
      <if test="attadd != null" >
        attadd = #{attadd,jdbcType=INTEGER},
      </if>
      <if test="criAddP != null" >
        cri_add_p = #{criAddP,jdbcType=INTEGER},
      </if>
      <if test="criSubP != null" >
        cri_sub_p = #{criSubP,jdbcType=INTEGER},
      </if>
      <if test="mdef != null" >
        mdef = #{mdef,jdbcType=INTEGER},
      </if>
      <if test="pdef != null" >
        pdef = #{pdef,jdbcType=INTEGER},
      </if>
      <if test="absolutelyAttack != null" >
        absolutely_attack = #{absolutelyAttack,jdbcType=INTEGER},
      </if>
      <if test="absolutelyDefence != null" >
        absolutely_defence = #{absolutelyDefence,jdbcType=INTEGER},
      </if>
      <if test="inprotect != null" >
        inprotect = #{inprotect,jdbcType=INTEGER},
      </if>
      <if test="avoid != null" >
        avoid = #{avoid,jdbcType=INTEGER},
      </if>
      <if test="attdef != null" >
        attdef = #{attdef,jdbcType=INTEGER},
      </if>
      <if test="defhuman != null" >
        defhuman = #{defhuman,jdbcType=INTEGER},
      </if>
      <if test="attackhuman != null" >
        attackhuman = #{attackhuman,jdbcType=INTEGER},
      </if>
      <if test="sract != null" >
        sract = #{sract,jdbcType=INTEGER},
      </if>
      <if test="srbody != null" >
        srbody = #{srbody,jdbcType=INTEGER},
      </if>
      <if test="srmind != null" >
        srmind = #{srmind,jdbcType=INTEGER},
      </if>
      <if test="movespeed != null" >
        movespeed = #{movespeed,jdbcType=INTEGER},
      </if>
      <if test="castspeed != null" >
        castspeed = #{castspeed,jdbcType=INTEGER},
      </if>
      <if test="attackspeed != null" >
        attackspeed = #{attackspeed,jdbcType=INTEGER},
      </if>
      <if test="thumpAddP != null" >
        thump_add_p = #{thumpAddP,jdbcType=INTEGER},
      </if>
      <if test="thumpSubP != null" >
        thump_sub_p = #{thumpSubP,jdbcType=INTEGER},
      </if>
      <if test="strong != null" >
        strong = #{strong,jdbcType=INTEGER},
      </if>
      <if test="body != null" >
        body = #{body,jdbcType=INTEGER},
      </if>
      <if test="quick != null" >
        quick = #{quick,jdbcType=INTEGER},
      </if>
      <if test="dodge != null" >
        dodge = #{dodge,jdbcType=INTEGER},
      </if>
      <if test="soul != null" >
        soul = #{soul,jdbcType=INTEGER},
      </if>
      <if test="mind != null" >
        mind = #{mind,jdbcType=INTEGER},
      </if>
      <if test="haiziLv != null" >
        haizi_lv = #{haiziLv,jdbcType=INTEGER},
      </if>
      <if test="haiziZizhi != null" >
        haizi_zizhi = #{haiziZizhi,jdbcType=INTEGER},
      </if>
      <if test="haiziWuxue != null" >
        haizi_wuxue = #{haiziWuxue,jdbcType=INTEGER},
      </if>
      <if test="ligntMenpai != null" >
        lignt_menpai = #{ligntMenpai,jdbcType=INTEGER},
      </if>
      <if test="awakeLv != null" >
        awake_lv = #{awakeLv,jdbcType=INTEGER},
      </if>
      <if test="releaseLv != null" >
        release_lv = #{releaseLv,jdbcType=INTEGER},
      </if>
      <if test="awakeValue != null" >
        awake_value = #{awakeValue,jdbcType=INTEGER},
      </if>
      <if test="minglian != null" >
        minglian = #{minglian,jdbcType=INTEGER},
      </if>
      <if test="qinghua != null" >
        qinghua = #{qinghua,jdbcType=INTEGER},
      </if>
      <if test="xuansu != null" >
        xuansu = #{xuansu,jdbcType=INTEGER},
      </if>
      <if test="guhong != null" >
        guhong = #{guhong,jdbcType=INTEGER},
      </if>
      <if test="xiangyun != null" >
        xiangyun = #{xiangyun,jdbcType=INTEGER},
      </if>
      <if test="tinglan != null" >
        tinglan = #{tinglan,jdbcType=INTEGER},
      </if>
      <if test="haitang != null" >
        haitang = #{haitang,jdbcType=INTEGER},
      </if>
      <if test="feihuhuaqiu != null" >
        feihuhuaqiu = #{feihuhuaqiu,jdbcType=INTEGER},
      </if>
      <if test="tianhulishang != null" >
        tianhulishang = #{tianhulishang,jdbcType=INTEGER},
      </if>
      <if test="xianhucaijue != null" >
        xianhucaijue = #{xianhucaijue,jdbcType=INTEGER},
      </if>
      <if test="canghaisangtian != null" >
        canghaisangtian = #{canghaisangtian,jdbcType=INTEGER},
      </if>
      <if test="yeyujiangnan != null" >
        yeyujiangnan = #{yeyujiangnan,jdbcType=INTEGER},
      </if>
      <if test="huikanfanghu != null" >
        huikanfanghu = #{huikanfanghu,jdbcType=INTEGER},
      </if>
      <if test="duncifanghu != null" >
        duncifanghu = #{duncifanghu,jdbcType=INTEGER},
      </if>
      <if test="huoyuanfanghu != null" >
        huoyuanfanghu = #{huoyuanfanghu,jdbcType=INTEGER},
      </if>
      <if test="shuifengdufanghu != null" >
        shuifengdufanghu = #{shuifengdufanghu,jdbcType=INTEGER},
      </if>
      <if test="wanfeng != null" >
        wanfeng = #{wanfeng,jdbcType=INTEGER},
      </if>
      <if test="huxin != null" >
        huxin = #{huxin,jdbcType=INTEGER},
      </if>
      <if test="taichu != null" >
        taichu = #{taichu,jdbcType=INTEGER},
      </if>
      <if test="shilifushou != null" >
        shilifushou = #{shilifushou,jdbcType=INTEGER},
      </if>
      <if test="xiyangyang != null" >
        xiyangyang = #{xiyangyang,jdbcType=INTEGER},
      </if>
      <if test="mawangye != null" >
        mawangye = #{mawangye,jdbcType=INTEGER},
      </if>
      <if test="wanshengtianzun != null" >
        wanshengtianzun = #{wanshengtianzun,jdbcType=INTEGER},
      </if>
      <if test="yehuo != null" >
        yehuo = #{yehuo,jdbcType=INTEGER},
      </if>
      <if test="dulanggui != null" >
        dulanggui = #{dulanggui,jdbcType=INTEGER},
      </if>
      <if test="vip9 != null" >
        vip9 = #{vip9,jdbcType=INTEGER},
      </if>
      <if test="haiziTiayu != null" >
        haizi_tiayu = #{haiziTiayu,jdbcType=INTEGER},
      </if>
      <if test="bihai != null" >
        bihai = #{bihai,jdbcType=INTEGER},
      </if>
      <if test="changong != null" >
        changong = #{changong,jdbcType=INTEGER},
      </if>
      <if test="changkong != null" >
        changkong = #{changkong,jdbcType=INTEGER},
      </if>
      UPDATE_TIME =  now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="com.funny.txstack.model.entity.CbgDataEntity" >
    update cbg_data
    set role_id = #{roleId,jdbcType=VARCHAR},
      lianhu = #{lianhu,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      lv = #{lv,jdbcType=INTEGER},
      fly_soul_phase = #{flySoulPhase,jdbcType=INTEGER},
      fly_soul_lv = #{flySoulLv,jdbcType=VARCHAR},
      xiuwei = #{xiuwei,jdbcType=INTEGER},
      equ_xiuwei = #{equXiuwei,jdbcType=INTEGER},
      sch = #{sch,jdbcType=INTEGER},
      mhp = #{mhp,jdbcType=INTEGER},
      msp = #{msp,jdbcType=INTEGER},
      pattack_max = #{pattackMax,jdbcType=INTEGER},
      mattack_max = #{mattackMax,jdbcType=INTEGER},
      pattack_min = #{pattackMin,jdbcType=INTEGER},
      mattack_min = #{mattackMin,jdbcType=INTEGER},
      hit = #{hit,jdbcType=INTEGER},
      modadd = #{modadd,jdbcType=INTEGER},
      critical = #{critical,jdbcType=INTEGER},
      attadd = #{attadd,jdbcType=INTEGER},
      cri_add_p = #{criAddP,jdbcType=INTEGER},
      cri_sub_p = #{criSubP,jdbcType=INTEGER},
      mdef = #{mdef,jdbcType=INTEGER},
      pdef = #{pdef,jdbcType=INTEGER},
      absolutely_attack = #{absolutelyAttack,jdbcType=INTEGER},
      absolutely_defence = #{absolutelyDefence,jdbcType=INTEGER},
      inprotect = #{inprotect,jdbcType=INTEGER},
      avoid = #{avoid,jdbcType=INTEGER},
      attdef = #{attdef,jdbcType=INTEGER},
      defhuman = #{defhuman,jdbcType=INTEGER},
      attackhuman = #{attackhuman,jdbcType=INTEGER},
      sract = #{sract,jdbcType=INTEGER},
      srbody = #{srbody,jdbcType=INTEGER},
      srmind = #{srmind,jdbcType=INTEGER},
      movespeed = #{movespeed,jdbcType=INTEGER},
      castspeed = #{castspeed,jdbcType=INTEGER},
      attackspeed = #{attackspeed,jdbcType=INTEGER},
      thump_add_p = #{thumpAddP,jdbcType=INTEGER},
      thump_sub_p = #{thumpSubP,jdbcType=INTEGER},
      strong = #{strong,jdbcType=INTEGER},
      body = #{body,jdbcType=INTEGER},
      quick = #{quick,jdbcType=INTEGER},
      dodge = #{dodge,jdbcType=INTEGER},
      soul = #{soul,jdbcType=INTEGER},
      mind = #{mind,jdbcType=INTEGER},
      haizi_lv = #{haiziLv,jdbcType=INTEGER},
      haizi_zizhi = #{haiziZizhi,jdbcType=INTEGER},
      haizi_wuxue = #{haiziWuxue,jdbcType=INTEGER},
      lignt_menpai = #{ligntMenpai,jdbcType=INTEGER},
      awake_lv = #{awakeLv,jdbcType=INTEGER},
      release_lv = #{releaseLv,jdbcType=INTEGER},
      awake_value = #{awakeValue,jdbcType=INTEGER},
      minglian = #{minglian,jdbcType=INTEGER},
      qinghua = #{qinghua,jdbcType=INTEGER},
      xuansu = #{xuansu,jdbcType=INTEGER},
      guhong = #{guhong,jdbcType=INTEGER},
      xiangyun = #{xiangyun,jdbcType=INTEGER},
      tinglan = #{tinglan,jdbcType=INTEGER},
      haitang = #{haitang,jdbcType=INTEGER},
      feihuhuaqiu = #{feihuhuaqiu,jdbcType=INTEGER},
      tianhulishang = #{tianhulishang,jdbcType=INTEGER},
      xianhucaijue = #{xianhucaijue,jdbcType=INTEGER},
      canghaisangtian = #{canghaisangtian,jdbcType=INTEGER},
      yeyujiangnan = #{yeyujiangnan,jdbcType=INTEGER},
      huikanfanghu = #{huikanfanghu,jdbcType=INTEGER},
      duncifanghu = #{duncifanghu,jdbcType=INTEGER},
      huoyuanfanghu = #{huoyuanfanghu,jdbcType=INTEGER},
      shuifengdufanghu = #{shuifengdufanghu,jdbcType=INTEGER},
      wanfeng = #{wanfeng,jdbcType=INTEGER},
      huxin = #{huxin,jdbcType=INTEGER},
      taichu = #{taichu,jdbcType=INTEGER},
      shilifushou = #{shilifushou,jdbcType=INTEGER},
      xiyangyang = #{xiyangyang,jdbcType=INTEGER},
      mawangye = #{mawangye,jdbcType=INTEGER},
      wanshengtianzun = #{wanshengtianzun,jdbcType=INTEGER},
      yehuo = #{yehuo,jdbcType=INTEGER},
      dulanggui = #{dulanggui,jdbcType=INTEGER},
      vip9 = #{vip9,jdbcType=INTEGER},
      haizi_tiayu = #{haiziTiayu,jdbcType=INTEGER},
      bihai = #{bihai,jdbcType=INTEGER},
      changong = #{changong,jdbcType=INTEGER},
      changkong = #{changkong,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cbg_data
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>