#set($page_title="【天下客栈】79英雄榜")
<style>
    .duiqi {
        vertical-align: initial;
    }
</style>
<script src="/assets/js/bang.js?v=444" type="text/javascript"></script>


<div style="margin-left: 20px;margin-right: 20px;">

    <div class="col-md-12" align="right">
        <div class="col-md-9" style="text-align: center">
            <h1>【天下客栈】79英雄榜</h1>
        </div>
        <div class="col-md-3">
            <label><a href="#">Author@方小栈</a></label>
            <br>
            <label>QQ群:524580307</label>
        </div>
    </div>

    <form id="search-form" role="form" class="form-horizontal">
        <input type="hidden" value="1" name="pageNo" id="js-bootpag-num">
        <div class="col-md-12">
            <label >门派:</label>

            <label class="checkbox-inline duiqi">
                <input type="radio" value="1" name="school">荒火教
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="2" name="school">天机营
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="3" name="school">翎羽山庄
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="4" name="school">魍魉
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="5" name="school">太虚观
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="6" name="school">云麓仙居
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="7" name="school">冰心堂
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="8" name="school">奕剑听雨阁
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="9" name="school">鬼墨
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="10" name="school">龙巫宫
            </label>
            <label class="checkbox-inline duiqi">
                <input type="radio" value="11" name="school">幽篁国
            </label>
        </div>

        <div class="col-md-12">
            <div style="display: inline-block">
                <label>修为:</label>
                <label class="checkbox-inline duiqi">
                    <input type="radio" value="1" name="type" checked >总修为
                </label>
                <label class="checkbox-inline duiqi">
                    <input type="radio" value="2" name="type">人物修为
                </label>
                <label class="checkbox-inline duiqi">
                    <input type="radio" value="3" name="type">装备评价
                </label>
            </div>
        </div>
        <div class="col-md-12" align="right">
            <span style="color: red">注：只更新装评大于6万修为大于3万的号</span>
        </div>

        <div class="col-md-12" align="center">
            <div class="col-md-9">
                <input type="reset" class="btn btn-default">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-info green" id="js-query-btn"><i class="fa fa-search"></i>搜索</a>

            </div>
##            <div class="col-md-3">
##                <a class="btn btn-primary blue" data-toggle="modal"
##                   data-target="#ajax-modal">
##                    <i class="fa fa-plus"></i>新增
##                </a>
##            </div>
        </div>
    </form>


    <div class="col-md-12" id="js-page-body">
    </div>

    <div class="modal" id="ajax-modal" data-width="710" >
        <div class="modal-body">
            <form method="post" id="appaddForm" class="form-horizontal"  enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        英雄榜链接<span class="required" aria-required="true">*</span>
                    </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control input-inline" id="bang_url" name="bang_url">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-circle red" data-dismiss="modal" type="button">
                <i class="fa fa-remove"></i> 取消
            </button>
            <a id="js-add-btn" class="btn btn-primary green">
                <i class="fa fa-check"></i> 确认添加
            </a>
        </div>
    </div>

    <script type="text/javascript">
        BangJS.init();
    </script>
</div>
