<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.txstack.dao.cbg.CbgRoleMapper" >
  <select id="findByCondition" resultMap="BaseResultMap" >
    select 
    <if test="fields!=null and fields!=''" >
      ${fields}
    </if>
    <if test="fields==null or fields==''" >
      <include refid="Base_Column_List" />
    </if>
    from cbg_role where yn =1
  </select>

  <update id="deleteRole" parameterType="long" >
    update cbg_role set yn = 0 where id = #{id}
  </update>
</mapper>