<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funny.cbg.dao.RoleBasicMapper" >
  <resultMap id="BaseResultMap" type="com.funny.cbg.entity.RoleBasicEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="lv" property="lv" jdbcType="INTEGER" />
    <result column="fly_soul_phase" property="flySoulPhase" jdbcType="INTEGER" />
    <result column="fly_soul_lv" property="flySoulLv" jdbcType="VARCHAR" />
    <result column="xiuwei" property="xiuwei" jdbcType="INTEGER" />
    <result column="equ_xiuwei" property="equXiuwei" jdbcType="INTEGER" />
    <result column="sch" property="sch" jdbcType="INTEGER" />
    <result column="pattack_max" property="pattackMax" jdbcType="INTEGER" />
    <result column="mattack_max" property="mattackMax" jdbcType="INTEGER" />
    <result column="pattack_min" property="pattackMin" jdbcType="INTEGER" />
    <result column="mattack_min" property="mattackMin" jdbcType="INTEGER" />
    <result column="hit" property="hit" jdbcType="INTEGER" />
    <result column="modadd" property="modadd" jdbcType="INTEGER" />
    <result column="attadd" property="attadd" jdbcType="INTEGER" />
    <result column="cri_add_p" property="criAddP" jdbcType="INTEGER" />
    <result column="cri_sub_p" property="criSubP" jdbcType="INTEGER" />
    <result column="mdef" property="mdef" jdbcType="INTEGER" />
    <result column="pdef" property="pdef" jdbcType="INTEGER" />
    <result column="absolutely_attack" property="absolutelyAttack" jdbcType="INTEGER" />
    <result column="absolutely_defence" property="absolutelyDefence" jdbcType="INTEGER" />
    <result column="inprotect" property="inprotect" jdbcType="INTEGER" />
    <result column="avoid" property="avoid" jdbcType="INTEGER" />
    <result column="attdef" property="attdef" jdbcType="INTEGER" />
    <result column="defhuman" property="defhuman" jdbcType="INTEGER" />
    <result column="attackhuman" property="attackhuman" jdbcType="INTEGER" />
    <result column="sract" property="sract" jdbcType="INTEGER" />
    <result column="srbody" property="srbody" jdbcType="INTEGER" />
    <result column="srmind" property="srmind" jdbcType="INTEGER" />
    <result column="movespeed" property="movespeed" jdbcType="INTEGER" />
    <result column="castspeed" property="castspeed" jdbcType="INTEGER" />
    <result column="attackspeed" property="attackspeed" jdbcType="INTEGER" />
    <result column="thump_add_p" property="thumpAddP" jdbcType="INTEGER" />
    <result column="thump_sub_p" property="thumpSubP" jdbcType="INTEGER" />
    <result column="strong" property="strong" jdbcType="INTEGER" />
    <result column="body" property="body" jdbcType="INTEGER" />
    <result column="quick" property="quick" jdbcType="INTEGER" />
    <result column="dodge" property="dodge" jdbcType="INTEGER" />
    <result column="soul" property="soul" jdbcType="INTEGER" />
    <result column="mind" property="mind" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, lv, fly_soul_phase, fly_soul_lv, xiuwei, equ_xiuwei, sch, pattack_max, 
    mattack_max, pattack_min, mattack_min, hit, modadd, attadd, cri_add_p, cri_sub_p, 
    mdef, pdef, absolutely_attack, absolutely_defence, inprotect, avoid, attdef, defhuman, 
    attackhuman, sract, srbody, srmind, movespeed, castspeed, attackspeed, thump_add_p, 
    thump_sub_p, strong, body, quick, dodge, soul, mind
  </sql>
  <select id="findByCondition" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from role_basic
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>